<launch>
    <param name="use_sim_time" value="true"/>
    <!-- Nodes-->
    <node pkg="mecanum_wheels" type="odometry" name="my_odometry" output="screen" clear_params="true">

        <!-- Params-->
        <param name = "initial_pose_X" value="0" />
        <param name = "initial_pose_Y" value="0" />
        <param name = "initial_pose_Theta" value="0" />
        <param name = "encoder_resolution" value = "42"/>
        <param name= "half_length" value="0.1826"/>
        <param name= "half_width" value="0.169"/>
        <param name= "wheel_radius" value="0.075"/>
        <param name= "gear_ratio" value="5"/>
        <!-- init_with_bag: true - to initialize t  he position with the first bag message, and ignore "initial_pose" parameters -->
        <!--                false - to not initialize the position with the first bag message, use "initial_pose" parameters -->
        <param name= "init_with_bag" value="false"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="world_to_odom" args="0.0 0.0 0.0 0.0 0.0 0.0 world odom 10"/>
    
    <!-- Nodes-->
    <node pkg="mecanum_wheels" type="wheelsControl" name="my_wheelsControl" output="screen" clear_params="true">

        <!-- Params-->
        <param name= "half_length" value="0.2"/>
        <param name= "half_width" value="0.169"/>
        <param name= "wheel_radius" value="0.075"/>
        <param name= "gear_ratio" value="5"/>
    </node>

</launch>